# Drizzle
DATABASE_URL="file:./db.sqlite"

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

SINGLESTORE_USER="dummy"
SINGLESTORE_PASS="dummy"
SINGLESTORE_HOST=dummy.com
SINGLESTORE_PORT=3333
SINGLESTORE_DB_NAME=dummy.db

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dummy
CLERK_SECRET_KEY=sk_test_dummy

UPLOADTHING_TOKEN='dummy_token'

NEXT_PUBLIC_POSTHOG_KEY=dummy_key